.customContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    height: 80vh;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 500px;
    width: 380px;
}

.customImgSize {
    width: auto;
    max-height: 280px;
    object-fit: contain;
}

.spinnerStyle {
    position: absolute;
    top: 50%;
    left: 50%;
}

.thumbnailImg {
    height: 85px;
    width: auto;
    object-fit: cover;
    margin: 5px;
    transition: transform 0.1s ease, z-index 0.1s ease;
    position: relative;
    /* Mantiene su lugar en el flujo */
}

.thumbnailContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.thumbnailCard {
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnailCard:hover {
    border: 1px solid rgb(44, 44, 44);
}

.iconStyle {
    margin: 0 12px;
    color: blue;
}

.iconStyle:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

@media (max-width: 767px) {

    .customContainer {
        flex-direction: column-reverse;
        align-items: flex-start;
        height: auto;
        padding-bottom: 40px;
    }

    .colCard {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 850px) and (orientation: landscape) {
    .customContainer {
        align-items: flex-start;
        height: auto;
    }
}