.customContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 80vh;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 450px;
}

.customImgSize {
    width: 75% !important;
    height: 75%;
    object-fit: cover;
    margin: 25px;
}

.spinnerStyle {
    position: absolute;
    top: 50%;
    left: 50%;
}

.linkButStyle {
    color: white;
    text-decoration: none;
}

.linkButStyle:hover {
    background-color: blue;
    padding: 10px 18px;
    border-radius: 6px;
    margin: 0 -12px;
}