.customContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 350px;
}

.customImgSize {
    width: auto;
    max-width: 300px;
    max-height: 190px;
    object-fit: contain;
    margin: 0 20px;
}

.spinnerStyle {
    position: absolute;
    top: 50%;
    left: 50%;
}

.buttonStyle {
    margin: 0 8px;
}

.linkButStyle {
    color: white;
    text-decoration: none;
}

.linkButStyle:hover {
    background-color: blue;
    padding: 9px 15px;
    border-radius: 6px;
    margin: 0 -12px;
}