.cardColumn {
    display: flex;
    justify-content: center;
    background-color: rgb(224, 255, 244);
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    height: 450px;
}

.customImgSize {
    width: auto;
    max-width: 310px;
    max-height: 180px;
    object-fit: contain;
    margin: 25px;
}

.title {
    margin-bottom: 35px;
}

.spinnerStyle {
    position: absolute;
    top: 50%;
    left: 50%;
}

.buttonStyle {
    margin: 0 5px;
}

.linkButStyle {
    color: white;
    text-decoration: none;
}

.linkButStyle:hover {
    background-color: blue;
    padding: 9px 15px;
    border-radius: 6px;
    margin: 0 -12px;
}