.formContainer {
    height: 75vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.formStyles {
    width: 25%;
    margin: 0 auto;
}

.buttonStyle {
    margin: 0 5px;
}

.linkButStyle {
    color: white;
    text-decoration: none;
}

.linkButStyle:hover {
    background-color: blue;
    padding: 9px 15px;
    border-radius: 6px;
    margin: 0 -12px;
}

.crearCuenta {
    font-size: 13px;
    padding-top: 20px;
}

.crearCuentaLink {
    font-size: 13px;
    text-decoration: none;
}

.crearCuentaLink:hover {
    font-size: 14px;
    text-decoration: underline;
}

.registerLink {
    font-size: 13px;
    text-decoration: none;
}

.registerLink:hover {
    font-size: 14px;
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .formStyles {
        width: 60%;
    }
}

@media (max-width: 450px) {
    .formStyles {
        width: 70%;
    }
}

@media (min-width: 1400px) {
    .formContainer {
        height: 60vh;
    }
}